<div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search by brewery name" ng-model="vm.searchBeerName">

      </div>      
    </div>
  </form>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
            <th>
                <a class="nounderline" href="#/" ng-click="vm.sortType = 'brewery.name'; vm.sortReverse = !vm.sortReverse">Name</a>
                <span ng-show="vm.sortType == 'brewery.name' && !vm.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="vm.sortType == 'brewery.name' && vm.sortReverse" class="fa fa-caret-up"></span>
            </th>            
            <th>
                <a class="nounderline" href="#/" ng-click="vm.sortType = 'city'; vm.sortReverse = !vm.sortReverse">Address</a>
                <span ng-show="vm.sortType == 'city' && !vm.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="vm.sortType == 'city' && vm.sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a class="nounderline" href="#/" ng-click="vm.sortType = 'locationType'; vm.sortReverse = !vm.sortReverse">Type</a>
                <span ng-show="vm.sortType == 'locationType' && !vm.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="vm.sortType == 'locationType' && vm.sortReverse" class="fa fa-caret-up"></span>
            </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="location in vm.locations | orderBy:vm.sortType:vm.sortReverse | filter:{name: vm.searchBeerName}">            
            <td>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="nounderline" ng-href="#/api/location/{{location.idApi}}">
                            <p>{{ location.brewery.name }}</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    <a ng-href="#/api/location/{{location.idApi}}">
                        <img src={{location.brewery.image}} alt={{location.brewery.name}} height="64" width="64">
                    </a>
                    </div>
                </div>
            </td>
            <td>
                {{location.streetAddress === "N/A" ? "" : location.streetAddress}}
                <br />
                {{location.city === "N/A" ? "" : location.city + ", "}}
                {{location.state === "N/A" ? "" : location.state + ", "}}
                <br />
                {{location.country === "N/A" ? "" : location.country}}
            </td>
            <td>
                {{ location.locationType }}           
            </td>            
        </tr>
    </table>